{% extends 'base.html' %}
{% block content %}


  <div class="card">
      <div class="card-content">
        <h1>{{ pun.name }}</h1>
        <p>{{ pun.description }}</p>
        {% if pun.exists  %}
          <p><strong>Does it exist?:</strong> Yes, it exists!</p>
        {% else %}
          <p><strong>Does it exist?:</strong> Sadly, I couldn't find a place that has this name.</p>
        {% endif %}
        <p>
          <a href="{{ pun.link}}">See it on Google Maps</a>
        </p>
      </div>
      <div class="card-action">
        <a href="{% url 'hairpuns_update' pun.id %}">Edit</a>
        <a href="{% url 'hairpuns_delete' pun.id %}">Delete</a>
    </div>
  </div>

{% endblock %}
